body {
    background-color: rgb(228, 248, 166);
    user-select: none;

    .flag {
        width: 60%;
        margin-left: 10%;
    }

    .page {
        margin-left: 20%;
    }

    .widget {
        margin-left: 75%;
        transform: translateY(-460px);
    }
}